fastapi==0.110.0
uvicorn[standard]==0.28.0
sentence-transformers==2.5.1
numpy<2.0.0
torch==2.2.1 --extra-index-url https://download.pytorch.org/whl/cpu
prometheus-fastapi-instrumentator==7.0.0
pydantic==2.6.4
